.homeContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;

  @media (max-width: $mediumsmall-width) {
    flex-direction: column-reverse;
  }
}

.homeInfoContainer {
  padding: 15px 60px 40px 60px;
  margin-top: 20px;
  margin-left: -10px;
  background-color: getColour(white);
  margin-bottom: 50px;
  z-index: 10;

  @media (max-width: $mediumsmall-width) {
    margin-left: 0px;
    margin-top: -30px;
  }
}

.homeProfileContainer {
  align-self: flex-start;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $shadow;
  background-color: getColour(lightbrown);
  z-index: 100;

  @media (max-width: $mediumsmall-width) {
    width: 80%;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-self: center;
  }

  @media (max-width: $small-width) {
    padding: 20px 10px;
  }

  .imgContainer {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    z-index: 1;

    @media (max-width: $small-width) {
      width: 100px;
      height: 100px;
    }

    @media (max-width: $smallest-width) {
      display: none;
    }

    img {
      width: 100%;
      position: absolute;
      min-height: 100%;
      object-fit: cover;
    }
  }

  .bioContainer {
    text-align: center;

    @media (max-width: $mediumsmall-width) {
      text-align: left;
    }

    h2 {
      font-size: 21px;
    }

    p {
      margin: 5px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
