.projectsMainDesc {
  margin-top: -25px;
  margin-bottom: 80px;
}

.project {
  background-color: getColour(white);
  padding: 10px 25px;
  margin-bottom: 50px;
  box-shadow: $shadow;

  .projectContent {
    display: flex;
    align-items: flex-start;
    gap: 25px;

    @media (max-width: $medium-width) {
      flex-direction: column;
    }

    p {
      margin-top: 0;
    }

    img {
      box-shadow: $shadow;
    }
  }

  .projectContentText {
    flex: 3;
  }

  .projectContentImg {
    flex: 2;
  }

  .projectLabel {
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 40px;
    border-bottom: 2px solid getColour(brown);
  }
}

.resumeIntro {
  line-height: 35px;
  background-color: getColour(lightbrown);
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  padding: 40px 100px;

  @media (max-width: $medium-width) {
    position: relative;
    padding: 0;
    background: none;
    top: 0;
  }

  .resumeIntroContent {
    max-width: 900px;
    margin: auto;
  }
}

.resumeContainer {
  background-color: getColour(white);
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;

  h2 {
    border-bottom: 2px solid getColour(brown);
  }
}

.resumeItem {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  gap: 20px;

  @media (max-width: $medium-width) {
    flex-direction: column;
  }

  h3 {
    margin: 0;
  }

  .resumeDescInfo {
    flex: 5;

    ul {
      padding-left: 30px;
    }
  }

  .resumeTimeInfo {
    flex: 2;

    p {
      font-size: 12px;
      margin-bottom: -5px;
      line-height: 15px;
    }
  }
}

.experienceContainer {
  margin-top: 620px;

  @media (max-width: $large-width) {
    margin-top: 680px;
  }

  @media (max-width: $medium-width) {
    margin-top: 80px;
  }
}

.screenshotSite {
  width: 100%;
}
