$font-primary: "Hind", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$smallest-width: 450px;
$small-width: 550px;
$mediumsmall-width: 650px;
$medium-width: 800px;
$large-width: 950px;

$shadow: 1px 0px 5px #271f1648;

$colours: (
  brown: #e6dace,
  lightbrown: #f4ece6,
  black: #000,
  white: #fff,
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}
